.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
build
lib
dist

lerna-debug.log

package-lock.json
.turbo
src/components

lenguas-codes.ts
lenguas-codes.cjs
lenguas-codes.d.ts
lenguas-codes.mjs
index.cjs
index.d.ts
index.mjs
types.d.ts
types.ts
