.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
build
lib
dist

lerna-debug.log

package-lock.json
.turbo
src/components

language-codes.ts
language-codes.ts
language-codes.cjs
language-codes.mjs
index.cjs
index.d.ts
index.mjs
types.d.ts
types.ts
types.cjs
types.mjs

coverage/
